@charset "UTF-8";
/* CSS Document */

/* Author: Ethan Bian */

/* Comment:  */
/* Compatibility with old browsers will not be actively sought since (1), our target audience at large will not be using them, (2), it makes code messy, (3), it takes more time, (4), old browsers need to die. */

body {
	background-color:#519191;
  /*background-image: url(../image/texture/bedge_grunge_transparent.png);
  background-repeat:repeat;*/

	color:#2D5151;
  font-family: "Cambria", serif;
  font-size: 62.5%;
}

a:link {color:#395151;}      /* unvisited link */
a:visited {color:#334949;}  /* visited link */
a:hover {color:#334949;}  /* mouse over link */
a:active {color:#395151;}  /* selected link */ 

/* margin, padding */

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

/* font sizes */

h1 {
  font-size: 1.6rem;
  background-color: #519191;
  margin: 2rem 0 2rem -4rem;
  padding: 2rem 0 2rem 4rem;
  
  border-radius: 0 4px 4px 0;
}
h2 {
  font-size: 1.4rem;
  font-weight: lighter;
}
h3 {
  font-size: 1.2rem;
  font-weight: lighter;
}
h4 {
  font-size: 1.0rem;
  font-weight: lighter;
}
h5 {font-size: 0.9rem;}
h6 {font-size: 0.8rem;}

a img {
  border: 0; /* because IE 9 is still stupid */
}

#container {
  font-size: 0.9rem;
}

#body {
  margin-bottom: 4rem;
	background: #86B8B8;
  border-radius: 0 0 0 4px;
  /*box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);*/
  
  margin-top: -3rem;
  margin-left: 16rem;
}

#content {
  padding: 1rem 4rem;
  max-width: 50rem;
}

/* sidepanel */

#sidepanel {
    float: left;
    margin-top: 4rem;
    margin-left: 1rem;
    overflow: hidden;
    position: fixed;
    text-align: left;
    width: 15rem;
}

#sidepanel img {
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#sidepanel #slogan {
    color: #86B8B8;
    letter-spacing: 1px;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}

#sidepanel ul.menu {
    display: block;
    margin: 2rem 0;
}

#sidepanel ul.menu li {
  background: none repeat scroll 0 0 #2d5151 !important;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);

  font-size: 1rem;
  font-weight: bold;
  list-style: none outside none;
  margin-bottom: 1px;
  padding: .7rem 0 .7rem 1.5rem;
  text-transform: uppercase;
  width: 100%;
}

#sidepanel ul.menu li a {
  color: #F0F0F0;
  text-decoration: none;
}

#footer {
  bottom: 1.5rem;
  margin-left: 1.5rem;
  position: fixed;
	color:#86B8B8;
}

/* legal */

#sponsorlogos {
  margin: 2rem auto;
  text-align: center;
}

/* img.pretty */

img.pretty {
    background: #e1e1e1;
    border: 1px solid #CECECE;
    border-radius: 4px;
    margin: .5rem;
    padding: 1rem;
}